.order-container {
    width: 100%;
    margin-bottom: 50px !important;
    margin: 0 !important;
    padding: 100px 10% 100px 10% !important;
  
    .case1 {
      color: rgb(14, 156, 172);
      font-weight: 600;
    }
    .case2 {
      color: rgb(3, 3, 93);
      font-weight: 600;
    }
    .case3 {
      color: rgb(24, 121, 4);
      font-weight: 600;
    }
    .case4 {
      color: rgb(154, 33, 3);
      font-weight: 600;
    }
  }
  
 
  .select-status {
    width: 130px;
    height: 30px;
    margin-top: -5px;
    margin-left: 10px;
  }