.login-container {
    padding-top: 120px;
  
    .login-form {
      width: 60%;
      margin: 0 auto;
      background-color: rgb(29, 186, 186);
      padding: 70px;
  
      .login-content {
        width: 40%;
        margin: 0 auto;
  
        .inputText {
          margin: 5px 0 10px 0;
          width: 100%;
        }
      }
  
      .register-text {
        color: rgb(95, 3, 64);
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }