.historyIcon {
    top: 45%;
    right: 20px;
    position: fixed;
}

.cartIcon {
    top: 53%;
    right: 20px;
    position: fixed;
}

.numberCart {
    top: 53%;
    right: 30px;
    position: fixed;
    font-size: 12px;
    color: white;
    font-weight: 700;
}