.cart-container {
    width: 100%;
    margin-bottom: 50px !important;
    margin: 0 !important;
    padding: 100px 10% 0 10% !important;
  
    span {
      color: rgb(6, 181, 6);
    }
  
    .cart-content {
      width: 90%;
      background: rgb(226, 225, 225);
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      margin-bottom: 30%;
  
      .cart-name {
        color: rgb(6, 181, 6);
        font-weight: 600;
      }
      .cart-img {
        width: 80px;
        height: 60px;
      }
    }
  }