.home-container {
  display: flex;
  justify-content: space-between;

  .menuLeft {
    width: 15%;
    padding-top: 80px;
    padding-left: 10px;

    .selectForm {
      display: flex;
      justify-content: start;
      margin-top: 10px;
    }

    .selectBox {
      padding: 5px;
      margin: 0 0 0 5px;
    }
  }
  .menuRight {
    width: 15%;
    padding-top: 80px;
  }

  .product {
    flex-wrap: wrap;
    flex: start;
    display: flex;
    padding-top: 80px;
    width: 70%;

    .card-container {
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      cursor: pointer;
      padding: 25px;
      margin: 10px auto;
      min-width: 250px;
      max-width: 250px;
      height: 400px;
      background-color: #fff;
      box-shadow: 5px 5px 25px rgb(184, 183, 183);

      .image {
        width: 200px !important;
        height: 160px !important;
      }

      .name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .btn-success {
        background-color: rgb(41, 171, 5);
        color: beige;
        padding: 10px 0;
        outline: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}